body,html{
	margin:0;
	height:100%;
}
body {
	display: flex;
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	margin: auto;

}
td {
	border: 6px solid black;
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 100px;
}
caption {
	font-size: 50px;
	margin-bottom: 20px;
}